*.pyc
error
*~
*.swp
*.swo
web/staff/.htpasswd
web/staff/op_tools/db_config.py
web/staff/op_tools/DBCreds.pm
sale_receipt.tex
register/launch.sh


---- Register files

register/customer_card_receipt.*
register/merchant_card_receipt.*
register/sale_receipt.*

----  Build folders for submodules ---- (We should probably use submodules!)

register/pysimplesoap-1.05a/build
